image: eclipse-temurin:17-jdk-focal

stages:
  - build

build-job:
  stage: build
  script:
    - chmod +x gradlew
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - app/build/outputs/apk/debug/app-debug.apk
